<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ユーザー設定へ進む" %>
    <%= link_to "キャンセル",root_path %>
  </div>
<% end %>
  <div>
    <p>登録がお済みの方は<%=link_to "こちら",new_user_session_path %>からログインしてください</p>
  </div>
<%= render "devise/shared/links" %>