<h4><%= @romm_owner %>さんの募集</h4>
<p><small><span style="color:gray">最終更新日: <%= l @room.updated_at %></span></small><p>
<% @room.game_id %>

<table class="table table-borderless">
  <tr>
    <td>ルーム上限人数</td> 
    <td>プラットフォーム</td>
    <td>プレイスタイル</td>
    <td>活動曜日</td>
    <td>活動時間帯</td>
  </tr>
  <tr>
    <td>
      <%= @room.member_max %>
    </td> 
    <td>
      <% @room_platforms.each do |room_platform| %>
       <%= room_platform %>
      <% end %>
    </td>
    <td>
      <% @room_playstyles.each do |room_playstyle| %>
       <%= room_playstyle %>
      <% end %>
    </td>
    <td>
      <% @room_weekdays.each do |room_weekday| %>
       <%= room_weekday %>
      <% end %>
    </td>
    <td>
      <% @room_playtimings.each do |room_playtiming| %>
       <%= room_playtiming %>
      <% end %>
    </td>
  </tr>
</table>